.container-fluid {
   margin: 0;
   padding: 0;
}

.container {
   margin-top: 150px;
   margin-bottom: 30px;
   .col-4 {
      padding: 10px;
   }

   .no-result {
      margin-top: 0;
      .alert {
         width: 200px;
         margin: 0 auto;
         text-align: center;
      }
   }
}
