.navbar {
   position: fixed;
   z-index: 99;
   transform: translate3d(0px, 0px, 0px);
   width: 100%;
   top: 0;

   .info {
      h5 {
         margin: 0;
         text-transform: uppercase;
         letter-spacing: 2px;
      }
      span {
         font-size: 12px;
         font-weight: 100;
         float: right;
      }
   }
}
